<body></body>

<template name="docPage">
  <h1>This is the documentation page</h1>
  <hr>
  <article id="explanation">
  	<h2>lo-fi augmented reality for the mobile web</h2>
  	<p> annotatAR provides a look at the ghostly voices of Twitter during events that co-occur in the related sites of the "outernet" or "real world" as well as the networked universe of a virtual settlement on a Twittter hashtag.</p>

  	<p>When annotatAR is deployed at a mutli-sited event, the hashtag is paired with geocoordinates. When someone visits the site in the outernet and loads <a href="/ar.html">url</a> on their mobile device, they will see the voices from the Twitter settlement overlaid on their subjective reality.</p>

  	<p>The project blog for annotatAR can be found <a href="http://arebe.github.io/annotatar">here</a>. Currently the site is available for devices and browsers that support WebRTC and HTML5 canvas technology</p>
  </article>
  <article id="deployments">
  	<h2>Current annotatAR deployments</h2>
    {{> map}}
  </article>
  <article>
    <a href="https://twitter.com/home?status=%23annotatAR"><button id="tweetBtn" type="button"  class="btn btn-default outline" title="Share on Twitter"><i class="fa fa-twitter fa-lg"></i></button></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=annotatar.xyz"><button id="fbBtn" type="button"  class="btn btn-default outline" title="Share on Facebook"><i class="fa fa-facebook fa-lg"></i></button></a>
    <a href="https://plus.google.com/share?url=annotatar.xyz"><button id="googBtn" type="button"  class="btn btn-default outline" title="Share on G+"><i class="fa fa-google fa-lg"></i></button></a>
  </article>
</template>

<template name="map">
  <div id="map">
    {{> googleMap name="map" options=mapOptions}}
  </div>
</template>

